@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  background: var(--theme-background-color);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  line-height: 1.5;
  overflow-y: scroll;
  color: var(--theme-text-color);
  
}

#root {
  width: 100%;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}